.power-bi-report {
    text-align: center;         
    margin: 20px auto;          
    padding: 10px;              
    border: 2px solid #ccc;     
    max-width: 100%;            
    box-sizing: border-box;     
}

.power-bi-report iframe {
    width: 100%;                
    height: 100vh;               
    aspect-ratio: 16 / 9;       
    border: none;              
}
